body {
  background: linear-gradient(135deg,#1f2933,#0f172a);
  color: white;
  font-family: Arial;
  text-align: center;
}

#toolbar {
  margin-bottom: 10px;
}

button {
  padding: 8px 14px;
  margin: 4px;
  border-radius: 6px;
  border: none;
  background: #38bdf8;
  font-weight: bold;
}

canvas {
  background: white;
  border-radius: 10px;
}
